body{
    margin: 0;
    padding: 0;
    background-color: #A06D21;
    color: white;
    background-image: url(#) ;
   background-position: center;
    
}
#dongdau{
    color: #FFCC00;
    text-align: center;
}