body{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    color:  #6e6e6e;;
}
.section{
    width: 770px;
    position: relative;
    left: 50%;
    transform:translate(-50%);
}
p:first-child{
    font-size: 28px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea{
    height: 40px;
    border: 1px solid rgb(27, 26, 26);
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
 .section>form>p>input[type="email"]{
     margin-left:26px;
 }
textarea{
    padding: 15px;
    height:224px;
}

input[type="submit"]{
padding:10px 15px;
margin: 0px;
border: none;
background-color: lightblue;
color: #fff;
border-radius: 3px;
display: inline-block;
cursor: pointer;

}

span{
    position: absolute;
    bottom: 0px;
    right:0px;
}
.half-size{
    width:370px
}
.full-size{
    width: 100%;
}