*{
    margin:0;
    padding:0;
    color:#626262;
}
footer{
    color: #626262;
    font-family: sans-serif;
    font-size: 17px;
    background-color: black;
    line-height: 1.5;   
}
.container{
    width: 1140px;
    margin: auto;
}
/*  */
.footer-iner{
    width: 100%;
    display: flex;
}
.footer-top{
    height: 190px;
    padding: 70px 80px;
}

.email-box{
    width: 350px;
    margin-right:auto;
}
.email-box p{
    margin-bottom: 25px;
}
form{
    width: 100%;
    line-height: 45px;
}
form input[type="email"]{
    padding:14px 12px;
    width: 74%;
    background-color: #151515;
    border: none;
}
button[type="submit"]{
    padding: 14px 22px;
    background-color: #01bacf;
    border:none;
    cursor: pointer;
    transition: 0.5s;
}
button[type="submit"]:hover{
    background-color: #11dbf2;
}
button[type="submit"] i{
    color: #fff;
    font-weight: bold;
}
/*  */
.list-box{
    width: 560px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
}
.list-box>li{
    width:33%;
    margin-bottom: 10px;
}
.list-box li a{
    text-decoration: none;
    transition: 0.5s;
}
.list-box li a:hover{
    color: #ccc;
}
/*  */
.footer-end{
    background-color: #151515;
    padding: 20px 0;
}
.footer-end__text{
   margin-left: auto;
   line-height: 50px;
}
