body{
    margin:0px;
    padding: 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #f2f2f2;
}
.email-icon{
    position: relative;
    border: 2px solid aqua;
    border-radius: 50%;
    margin: 0 auto;
    width: 76px;
    height: 76px;
}
.far,.fa-envelope{
position: absolute;
top:50%;
left: 50%;
transform:  translate(-50%,-50%) scale(2);
color: aqua;
}
h1{
    font-size:40px;
}
p{
    opacity: 0.7;
    
}
form input[type="text"]{
width: 450px;
height: 70px;
border-radius: 7px 7px 7px 7px ;
border: none;
font-size: 18px;
font-weight: bold;
opacity: 0.7;
text-align: center;
}

form input[type="submit"]{
    background-color: aqua;
    width: 200px;
    height: 70px;
    
}
